html,
body {
  min-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(/img/SV.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App .dashboard .project-list,
.App .project-todos > .card {
  overflow-y: scroll;
  max-height: 80vh;
}

.App .dashboard .project-list::-webkit-scrollbar,
.App .project-todos > .card::-webkit-scrollbar,
.note-area textarea::-webkit-scrollbar {
  width: 10px;
}

.App .dashboard .project-list::-webkit-scrollbar-thumb,
.App .project-todos > .card::-webkit-scrollbar-thumb,
.note-area textarea::-webkit-scrollbar-thumb {
  background: #888;
  background-clip: content-box;
  border: 4px solid rgba(255, 255, 255, 0);
  border-top: 8px solid rgba(255, 255, 255, 0);
  border-bottom: 15px solid rgba(255, 255, 255, 0);
}

.App .project-todos .todo-summary .card-content {
  overflow-wrap: break-word;
}

a.todo-actions:hover {
  cursor: pointer;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

.todo-edit > textarea {
  height: 8rem;
}

.note-area textarea {
  height: 80vh;
  resize: none;
  border: 2px solid #919199;
  border-radius: 0;
  color: #444;
  background-color: transparent;
  overflow: auto;
  resize: none;
  transition: all 0.3s;
  border-radius: 2px;
  padding: 10px;
  line-height: 1.5;
}

.note-area .input-field {
  padding: 0.5rem 0.4rem;
  border-radius: 2px;
  margin-top: 0.5rem;
}

textarea:focus {
  outline: none;
  border-color: #3b448a;
}

.project-detail h5 {
  display: inline-block;
}

.project-detail button {
  margin-left: 100px;
}

#createModal form {
  margin-top: 0;
}

/* 
.App .project-todos .todo-summary .card-action .todo-actions {
  display: inline-flex;
  line-height: 24px;
} */
